<div class="content-wrapper pb-0">
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Change Password</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="changePasswordForm" (ngSubmit)="OnSubmit()">
          <div class="form-group">
            <label for="newPassword">New Password*</label>
            <div class="input-group">
              <span class="input-group-text">
                <i class="mdi mdi-lock"></i>
              </span>
              <input type="password" class="form-control" id="newPassword"  appPasswordToggle
                     formControlName="newPassword" placeholder="*****">
            </div>
            <div *ngIf="changePasswordForm.get('newPassword')?.invalid && 
                       (changePasswordForm.get('newPassword')?.dirty || 
                        changePasswordForm.get('newPassword')?.touched)"
                 class="text-danger">
              <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">
                Password is required
              </small>
              <small *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">
                Password must be at least 6 characters
              </small>
            </div>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm Password*</label>
            <div class="input-group">
              <span class="input-group-text">
                <i class="mdi mdi-lock"></i>
              </span>
              <input type="password" class="form-control" id="confirmPassword"  appPasswordToggle
                     formControlName="confirmPassword" placeholder="*******">
            </div>
            <div *ngIf="changePasswordForm.get('confirmPassword')?.invalid && 
                       (changePasswordForm.get('confirmPassword')?.dirty || 
                        changePasswordForm.get('confirmPassword')?.touched)"
                 class="text-danger">
              <small *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']">
                Please confirm your password
              </small>
              <small *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['mismatch']">
                Passwords do not match
              </small>
            </div>
          </div>

          <div class="sidebar-footer">
            <button type="submit" class="btn btn-primary" 
                    [disabled]="!changePasswordForm.valid || !changePasswordForm.dirty">
              Change Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>