<!-- app.component.html -->
<div style="display: inline-flex; width: 100%;" *ngIf="accountService.isAuthenticated()">
  <app-topmenu></app-topmenu>
  <div class="container-fluid page-body-wrapper">
    <app-sidemenu></app-sidemenu>
    <div class="main-panel">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="container-scroller" *ngIf="!accountService.isAuthenticated()"> 
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth">
      <div class="row flex-grow">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left p-5">
            <div class="brand-logo">
              <img src="../assets/images/logo.svg">
            </div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loader></app-loader>