<div class="card" style="border: 1px solid #e2e5e8;">
    <div class="card-header" style="background-color: #00acc1;">
        Hospital Content Information
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Description">Description</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-hospital"></i></span>
                    </div>
                    <textarea class="form-control" id="Description" placeholder="Enter Description" rows="10" required></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" id="btncontentsubmit"  class="btn btn-primary float-right">Save</button>
    </div>
</div>