<div class="card" style="border: 1px solid #e2e5e8;">
    <div class="card-header" style="background-color: #00acc1;">
        Hospital Department Information
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <!-- Hospital Name -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="HospitalName">Hospital Name</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-hospital"></i></span>
                            </div>
                            <input type="text" class="form-control" id="HospitalName" placeholder="Enter hospital name" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>