<div class="card" style="border: 1px solid #e2e5e8;">
    <div class="card-header" style="background-color: #00acc1;">
        Hospital Specialty Information
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <!-- Hospital Type -->
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="SpecializationId">Specialization</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-stethoscope"></i></span>
                            </div>
                            <select class="form-control" id="SpecializationId">
                                <option value="" disabled selected>Select a specialization</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" id="pillsContainer">
              
            </div>
        </div>
    </div>
</div>