@{
    ViewData["Title"] = "Admn Area";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
           <div class="card-header d-flex align-items-center">
            <div class="d-flex align-items-center flex-grow-1">
                <img id="HospitalLogo" src="https://www.apollohospitals.com/hyderabad/wp-content/themes/apollo/assets-v3/images/logo.svg" alt="Hospital Logo" style="width: 50px; height: 50px; margin-right: 10px;">
                <div class="text-center flex-grow-1">
                    <h2 id="HospitalNameDisplay" class="mb-0">Hospital Name</h2><br />
                    <small id="RegistrationNumberDisplay" class="text-muted">Registration Number: 123456</small>
                </div>
            </div>
                <img src="https://cdn.who.int/media/images/default-source/infographics/who-emblem.png?sfvrsn=877bb56a_2" alt="Medical Emblem" style="width: 50px; height: 50px;">
            </div>
            <div class="card-body">
                <partial name="insertOrUpdateHospitalInformationPartial.cshtml" />

                 <partial name="_insertOrUpdateHospitalContentInformationPartial.cshtml" />

                <partial name="_insertOrUpdatehospitalContactInformationPartial.cshtml" />

                 <partial name="_insertOrUpdateHospitalDepartmentInformationPartial.cshtml" />

                   <partial name="_insertOrUpdateHospitalSpecialtyInformationPartial.cshtml" />
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/ManageHospitalController.js"></script>
<script type="text/javascript">
    $(function () {
        var ctrl = new ManageHospitalController();
        ctrl.init();
    });
</script>