<h6 class="fw-light">Forgot password. It only takes a few steps</h6>
<form [formGroup]="resetPasswordForm" (ngSubmit)="OnSubmit()" class="pt-3">
    <div class="form-group">
        <label for="newPassword">New Password*</label>
        <div class="input-group">
            <span class="input-group-text">
                <i class="mdi mdi-lock"></i>
            </span>
            <input type="password" class="form-control" id="newPassword" appPasswordToggle formControlName="newPassword"
                placeholder="*****">
        </div>
        <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && 
                       (resetPasswordForm.get('newPassword')?.dirty || 
                        resetPasswordForm.get('newPassword')?.touched)" class="text-danger">
            <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']">
                Password is required
            </small>
            <small *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']">
                Password must be at least 6 characters
            </small>
        </div>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password*</label>
        <div class="input-group">
            <span class="input-group-text">
                <i class="mdi mdi-lock"></i>
            </span>
            <input type="password" class="form-control" id="confirmPassword" appPasswordToggle
                formControlName="confirmPassword" placeholder="*******">
        </div>
        <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && 
                       (resetPasswordForm.get('confirmPassword')?.dirty || 
                        resetPasswordForm.get('confirmPassword')?.touched)" class="text-danger">
            <small *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">
                Please confirm your password
            </small>
            <small *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['mismatch']">
                Passwords do not match
            </small>
        </div>
    </div>

    <div class="mb-4">
        <div class="form-check">
            <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input"> I agree to all Terms & Conditions </label>
        </div>
    </div>
    <div class="mt-3 d-grid gap-2">
        <button class="btn btn-block btn-primary btn-lg fw-semibold auth-form-btn"
            [disabled]="!resetPasswordForm.valid || !resetPasswordForm.dirty" type="submit">Submit</button>
    </div>
    <div class="text-center mt-4 fw-light"> Already have an account? <a (click)="requestTologin()"
            class="text-primary">Login</a>
    </div>
</form>